{% load remove_tag_filter %}
<h2>Tags</h2>

    {% csrf_token %}
    <ul style="padding-left: 0px;">
        <!-- For each tag in the list tags -->

        {% for tag in tags %}
        <!-- If selected_tags is true (contains a valid string of tags) -->

            {% if selected_tags %}
                    <!-- If there is only one tag, removing the tag redirects to staff directory index -->
                    {% if tag.slug == selected_tags %}
                <li class="tag">
                    <a href="{% url "staff_directory:show_by_tag" tag_slugs=selected_tags %}" class="tag_name pushed" id="{{ tag.slug }}">{{ tag.name }}</a>
                    <span class="tag_remove">{{ tag.tag_count }}</span>
                    <a class="tag_remove" href="{% url "staff_directory:index" %}">X</a>
                </li>
                    <!-- If more than one tag is in the view and they exist on the selected list -->
                    {% elif tag.slug in selected_tags_list %}

                    <!-- Insert it on the page with the "Pushed" class, but do not append a new parameter -->
                <li class="tag">
                    <a href="{% url "staff_directory:show_by_tag" tag_slugs=selected_tags %}" class="tag_name pushed" id="{{ tag.slug }}">{{ tag.name }}</a>
                    <span class="tag_remove">{{ tag.tag_count }}</span>
                    <a class="tag_remove" href="{% url "staff_directory:show_by_tag" tag_slugs=selected_tags|remove_tag:tag.slug %}">X</a>
                </li>
                    {% endif %}

            {% endif %}
        {% endfor %}

        {% for tag in passed_tags %}
                <li class="tag">
                    <a href="{% url "staff_directory:show_by_tag" tag_slugs=selected_tags|add:"/"|add:tag.slug %}" class="tag_name" id="{{ tag.slug }}">{{ tag.name }}</a>
                    <span class="tag_remove">{{ tag.tag_count }}</span>
                </li>
        {% endfor %}
    </ul>
